In [1]:
import pandas as pd

In [2]:
df =pd.DataFrame({
    'entity': ['am1', 'am1', 'am1', 'am1', 'am2', 'am2', 'am2', 'am2'],
    'siren': [1,1,1,1,2,2,2,2],
    'code': ['FR1', 'FR1', 'FR2', 'FR2', 'FR3', 'FR3', 'FR3', 'FR4'],
    'from': ['1900-01-01'] * 8,
    'to': ['1900-01-02'] * 8,
    'id': ['st1','st2','st3','st4','st5','st6','st7','st8'],
    'energy': [10, 20, 30, 40, 50, 60, 70, 80]})
df

  entity  siren code        from          to   id  energy
0    am1      1  FR1  1900-01-01  1900-01-02  st1      10
1    am1      1  FR1  1900-01-01  1900-01-02  st2      20
2    am1      1  FR2  1900-01-01  1900-01-02  st3      30
3    am1      1  FR2  1900-01-01  1900-01-02  st4      40
4    am2      2  FR3  1900-01-01  1900-01-02  st5      50
5    am2      2  FR3  1900-01-01  1900-01-02  st6      60
6    am2      2  FR3  1900-01-01  1900-01-02  st7      70
7    am2      2  FR4  1900-01-01  1900-01-02  st8      80

In [3]:
df_station = df.groupby(['entity', 'siren', 'code', 'from', 'to'])[['id', 'energy']].apply(lambda x: x.to_dict(orient='records')).rename("stations").reset_index()
df_unit = df_station.groupby(['entity', 'siren'])[['code', 'from', 'to', 'stations']].apply(lambda x: x.to_dict(orient='records')).rename("units").reset_index()
df_unit.to_dict(orient='records')

[{'entity': 'am1',
  'siren': 1,
  'units': [{'code': 'FR1',
    'from': '1900-01-01',
    'to': '1900-01-02',
    'stations': [{'id': 'st1', 'energy': 10}, {'id': 'st2', 'energy': 20}]},
   {'code': 'FR2',
    'from': '1900-01-01',
    'to': '1900-01-02',
    'stations': [{'id': 'st3', 'energy': 30}, {'id': 'st4', 'energy': 40}]}]},
 {'entity': 'am2',
  'siren': 2,
  'units': [{'code': 'FR3',
    'from': '1900-01-01',
    'to': '1900-01-02',
    'stations': [{'id': 'st5', 'energy': 50},
     {'id': 'st6', 'energy': 60},
     {'id': 'st7', 'energy': 70}]},
   {'code': 'FR4',
    'from': '1900-01-01',
    'to': '1900-01-02',
    'stations': [{'id': 'st8', 'energy': 80}]}]}]