Analyse des données Tesla

In [3]:
import pandas as pd

In [9]:
q2 = pd.read_csv('FR-Q2.csv')
q3 = pd.read_csv('FR-Q3.csv')
q23 = pd.concat([q2, q3])

In [32]:
#q23 = q23.rename(columns={'id_pdc_iterance':'id_pdc_itinerance'})
q23['month'] = pd.to_datetime(q23['start']).dt.month

In [34]:
pdc_stat = pd.read_csv('lien_station_pdc.csv')
q23_pdc = pd.merge(
    q23,
    pdc_stat,
    how="left",
    on='id_pdc_itinerance'
)
q23_pdc

,start,end,energy,id_pdc_itinerance,month,id_station_itinerance
0,2025-03-31 10:28:52,2025-03-31 10:48:23,42.8790,FRTSLE000331,3,FRTSLP29532
1,2025-03-31 11:03:03,2025-03-31 11:10:57,16.5640,FRTSLE000331,3,FRTSLP29532
2,2025-03-31 10:41:15,2025-03-31 11:11:06,26.3800,FRTSLE00032H,3,FRTSLP29532
3,2025-03-31 10:59:03,2025-03-31 11:19:09,33.5220,FRTSLE00032X,3,FRTSLP29532
4,2025-03-31 10:48:57,2025-03-31 11:20:21,37.3600,FRTSLE000333,3,FRTSLP29532
...,...,...,...,...,...,...
4603913,2025-09-30 07:54:46,2025-09-30 08:12:20,31.3450,FRTSLE1U4LCS,9,FRTSLP437128
4603914,2025-09-30 08:48:59,2025-09-30 09:24:57,55.8453,FRTSLE1U4LKA,9,FRTSLP437128
4603915,2025-09-30 09:16:26,2025-09-30 10:04:49,50.7827,FRTSLE1U4LLR,9,FRTSLP437128
4603916,2025-09-30 09:35:50,2025-09-30 10:08:04,41.4025,FRTSLE1U4LIF,9,FRTSLP437128
4603917,2025-09-30 10:05:56,2025-09-30 10:28:49,29.4229,FRTSLE1U4LK8,9,FRTSLP437128

In [40]:
q23_stat = q23_pdc[['energy', 'id_station_itinerance', 'month']].groupby(["id_station_itinerance", "month"]).sum().reset_index()
q23_stat

     id_station_itinerance  month       energy
0              FRTSLP10696      3     331.2190
1              FRTSLP10696      4   33368.2430
2              FRTSLP10696      5   31845.1420
3              FRTSLP10696      6   35511.9610
4              FRTSLP10696      7   47929.2440
...                    ...    ...          ...
1597            FRTSLP9507      5  407121.8298
1598            FRTSLP9507      6  428042.4508
1599            FRTSLP9507      7  446495.8649
1600            FRTSLP9507      8  423875.0512
1601            FRTSLP9507      9  427764.3311

[1602 rows x 3 columns]

In [42]:
q23_stat.to_csv('q23_stat.csv')