In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'a': [1,1,2,2,2,3,3,3], 'b': [12,54,87,56,12,54,98,77]})
df

   a   b
0  1  12
1  1  54
2  2  87
3  2  56
4  2  12
5  3  54
6  3  98
7  3  77

In [17]:
import numpy as np

grp = df.groupby('a')

res_a = [name for name, group in grp]
res_b = [list(group['b']) for name, group in grp]
grp2 = pd.DataFrame({'a': res_a, 'b': res_b})

grp = df.groupby('a')
grp3 = pd.DataFrame()
grp3['a'] = [name for name, group in grp]
grp3['b'] = [{'list_id_pdc_itinerance': list(group['b'])} for name, group in grp]
grp3

   a                                         b
0  1      {'list_id_pdc_itinerance': [12, 54]}
1  2  {'list_id_pdc_itinerance': [87, 56, 12]}
2  3  {'list_id_pdc_itinerance': [54, 98, 77]}

In [15]:
grp2.to_dict(orient='records')

[{'a': 1, 'b': [12, 54]},
 {'a': 2, 'b': [87, 56, 12]},
 {'a': 3, 'b': [54, 98, 77]}]

In [30]:
df = pd.DataFrame({'a': [1,1,2,np.nan,2,3,3,3], 'b': [12,54,87,56,12,54,98,77]})

df['a'] = df['a'].fillna(pd.Series([{}] * len(df)))
df[df.columns[0]]
df.columns[0]

'a'

In [25]:
pd.Series(fillna)

0    {}
1    {}
2    {}
3    {}
4    {}
5    {}
6    {}
7    {}
dtype: object

In [35]:
from dateutil.relativedelta import relativedelta
from datetime import datetime

datetime.fromisoformat("2025-03-08") - relativedelta(years=1)

datetime.datetime(2024, 3, 8, 0, 0)